<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{ category }}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <h3>Deskripsi Kategori: {{ category.description }}</h3>

        <p>List post di kategori ini :</p>
        {% if category.post_set.count %}
            <ul>
                {% for post in category.post_set.all %}
                    <li>
                        <a href="{% url 'todo:post_detail' post.id %}">
                            {{ post }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>Belum ada post</p>
        {% endif %}

        <form action="{% url 'todo:store_post' category.id %}" method="post">
            {% csrf_token %}

            <input type="text" name="title" id="">
            <textarea rows="" cols="" name="body"></textarea>

            <button type="submit">Save</button>
        </form>
    </body>
</html>