APP_URL="http://localhost:8000"
DEBUG=True
SECRET_KEY=

MIDTRANS_SERVER_KEY=

DB_HOST=
DB_NAME=
DB_USER=
DB_PASSWORD=

#string of url separated by comma
CORS_ALLOWED_ORIGINS="http://localhost:5173,http://localhost:8080"